/*-- main css file --*/
/*----*/
/*-- css reset --*/
* {
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;
	appearance:none;
	-webkit-appearance:none;
	outline:none;
	box-shadow:none;
}
/*-- typography --*/
body {
	font-family:avenir,-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
}
h1 {
	font-size:44px;
	line-height:1.3em;
	font-weight:600;
	color:#000;
}
h2 {
	font-size:26px;
	line-height:1.3em;
	font-weight:600;
	color:#000;
}
h3 {
	font-size:26px;
	line-height:1.3em;
	font-weight:500;
	color:#555;
}
h4 {
	font-size:16px;
	line-height:1.3em;
	font-weight:600;
	color:#000;
}
h5,.dcaption {
	/*-- caption type --*/
	font-size:13px;
	line-height:1.3em;
	font-weight:400;
	color:#555;
}
h6,.dtiny-text {
	/*-- tiny text --*/
	font-size:11px;
	line-height:1.3em;
	font-weight:400;
	color:#555;
}
p,.dnormal-text {
	font-size:16px;
	line-height:1.6em;
	font-weight:400;
	color:#555;
}

/*-- default --*/
.drow {
	width:100%;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
	align-items:center;
}

/*-- header --*/
.dintro {
	padding:160px 0 80px;
	background:#f8f4f0;
}
.dintro .dcontent-block {
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.dintro .dname {
	padding-bottom:32px;
}
.dintro .dname {
	font-size:44px;
	line-height:1.3em;
	font-weight:400;
	color:#000;
	text-align:center;
}
.dintro .dtitle {
	text-transform:uppercase;
	text-align:center;
	font-size:14px;
	letter-spacing:1.5px;
}
.dintro img {
	max-width:50em;
	width:100%;
	height:auto;
	background-color:#f8f4f0;
}

/*-- grid --*/
.dgrid .dcontent-block {
	width:100%;
	max-width:52em;
	position:relative;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:flex-start;
	align-items:flex-start;
	margin:5em auto;
}
.dgrid .dcontent-block .dimage-block {
	flex:0 0 25%;
	height:22em;
	padding:16px;
}
.dgrid .dimage-block .dimage {
	width:100%;
	height:100%;
	background-color:#fff;
	box-shadow:0px 6px 8px rgba(0,0,0,0.15);
}
.dgrid .dimage-block .dthumb {
	width:100%;
	height:10em;
	background-color:#f8f4f0;
	display:block;
}
.dgrid .dimage-block .dhead {
	display:block;
	text-align:center;
	font-weight:500;
	margin-top:4em;
}
.dgrid .dimage-block .dcat {
	display:block;
	text-align:center;
	margin-top:1em;
}




/*-- tags --*/

/*-- footer --*/
footer {
	height:360px; /* test */
	background-color:#e8e4e0;
}


/*----*/
/*
|
|
|
|
|
*/
/*-- end of file --*/