/*-- main css file --*/
/*----*/
/*-- css reset --*/
* {
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;
	appearance:none;
	-webkit-appearance:none;
	outline:none;
	box-shadow:none;
}
/*-- typography --*/
body {
	font-family:avenir,-apple-system,system-ui,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',sans-serif;
}
h1 {
	font-size:44px;
	line-height:1.3em;
	font-weight:600;
	color:#000;
}
h2 {
	font-size:26px;
	line-height:1.3em;
	font-weight:600;
	color:#000;
}
h3 {
	font-size:26px;
	line-height:1.3em;
	font-weight:500;
	color:#555;
}
h4 {
	font-size:16px;
	line-height:1.3em;
	font-weight:600;
	color:#000;
}
h5,.dcaption {
	/*-- caption type --*/
	font-size:13px;
	line-height:1.3em;
	font-weight:400;
	color:#555;
}
h6,.dtiny-text {
	/*-- tiny text --*/
	font-size:11px;
	line-height:1.3em;
	font-weight:400;
	color:#555;
}
p,.dnormal-text {
	font-size:16px;
	line-height:1.6em;
	font-weight:400;
	color:#555;
}

/*-- default --*/
.drow {
	width:100%;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
	align-items:center;
}

/*-- header --*/
.dintro {
	padding:160px 0 80px;
	background:#f8f4f0;
}
.dintro .dcontent-block {
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.dintro .dname {
	padding-bottom:32px;
}
.dintro .dname {
	font-size:44px;
	line-height:1.3em;
	font-weight:400;
	color:#000;
	text-align:center;
}
.dintro .dtitle {
	text-transform:uppercase;
	text-align:center;
	font-size:14px;
	letter-spacing:1.5px;
}
.dintro img {
	max-width:50em;
	width:100%;
	height:auto;
	background-color:#f8f4f0;
}

/*-- grid --*/
/* --------
---------
.dgrid .dcontent-block {
	max-width:60em;
	width:90%;
	position:relative;
	margin:80px auto;
}
.dgrid .dcontent-block .dimage {
	background:none;
	width:25%;
	float:left;
	padding:0 16px 32px;
}
.dgrid .dimage .dthumb {
	width:100%;
	height:16em;
	background:#f0f4f8;
}
.dgrid .dimage .dhead,
.dgrid .dimage .dcat {
	display:block;
	padding-top:8px;
}
.dgrid .dimage .dcat {
	padding-top:4px;
}
-------
-------*/

.dgrid .dcontent-block {
	background:black;
	width:96%;
	max-width:60em;
	position:relative;
	margin:80px auto;
}
.dgrid .dcontent-block .dimage {
	background:#555;
	width:25%;
	height:16em;
	float:left;
	border:1px solid #eee;
}


/*-- tags --*/

/*-- footer --*/
footer {
	height:360px; /* test */
	background-color:#e8e4e0;
}


/*----*/
/*
|
|
|
|
|
*/
/*-- end of file --*/