/*-- mobile.css --*/
/*----*/
@media only screen and (max-width:1024px) {
}
/*----*/
@media only screen and (max-width:800px) {
	.dmain .dgrid .dcontent-block {
		width:94%;
	}
	.dmain .dgrid .dcontent-block .dimage {
		width:33.33%;
	}
}
/*----*/
@media only screen and (max-width:640px) {
	.dmain .dgrid .dcontent-block .dimage {
		width:50%;
	}
}
/*----*/
@media only screen and (max-width:420px) {
	.dmain .dgrid .dcontent-block {
		width:96%;
	}
	.dmain .dgrid .dcontent-block .dimage {
		padding:0 8px 32px;
}
	.dmain .dgrid .dimage .dthumb {
		height:14em;
	}
	
}
/*----*/
@media only screen and (max-width:375px) {
	.dmain .dgrid .dimage .dthumb {
		height:12em;
	}
}


/*
|
|
|
|
|
*/
/*-- end of file --*/