/*-- mobile.css --*/
/*----*/
@media only screen and (max-width:1024px) {
}
/*----*/
@media only screen and (max-width:800px) {
	.dmain .dgrid .dcontent-block .dimage-block {
		padding:8px;
	}
	.dstory .drow.dheader,
	.dstory .drow.dslice {
		flex-direction:column;
		align-items:center;
	}
	.dstory .drow.dheader .dcontent-block,
	.dstory .drow.dslide .dcontent-block {
		width:auto;
	}
	.dstory .dheader .dcontent-block {
		margin:8em 2em 5em;
	}
	.dstory .drow.dheader .dtitle {
		width:auto;
	}
	.dstory .drow.dtop .dleft {
		margin:0 2em;
	}
	.dstory .drow.dtop .dright {
		max-width:23em;
		margin-right:2em;
	}
	.dstory .drow.dslice .dleft {
		margin:0 2em;
		width:auto;
	}
	.dstory .drow.dslice .dleft h2 {
		text-align:center;
	}
	.dstory .drow.dslice .dright {
		margin:3em 2em 0;
	}
	.dstory .drow.dslice .dright .dsoftware {
		display:flex;
		flex-direction:row;
		flex-wrap:nowrap;
		justify-content:center;
	}
}
/*----*/
@media only screen and (max-width:680px) {
	.dmain .dgrid .dcontent-block .dimage-block {
		flex:0 0 33.33%;
	}
}
/*----*/
@media only screen and (max-width:420px) {
	.dmain .dgrid .dcontent-block .dimage-block {
		flex:0 0 50%;
		height:20em;
	}
	.dmain .dgrid .dimage-block .dthumb {
		height:9em;
	}
	.dmain .dgrid .dimage-block .dhead {
		padding:0 4px;
	}
	.dmain .dtags .dimg-cat {
		display:none;
	}
	.dmain .dtags .dtag-wrapper {
		width:100%;
	}
	.dtimeline .dp-block .dthumbnail {
		flex:0 0 4.25em;
	}
	.dtimeline .dp-block .dthumbnail .dline {
		padding-right:1.625em;
	}
	.dtimeline .dp-block .dthumbnail .dyear,
	.dtimeline .dp-block .dthumbnail .ddevice {
		width:3.25em;
		line-height:3.25em;
		height:3.25em;
	}
	.dstory .drow.dheader .dtitle {
		text-align:center;
		transform:scale(0.9);
	}
	.dstory .drow.dtop {
		flex-direction:column;
		justify-content:flex-start;
	}
	.dstory .drow.dtop .dleft {
		margin:2em 1em 0;
		order:2;
	}
	.dstory .drow.dtop .dright {
		margin:0 1em;
	}
	.dstory .drow.dslice .dcontent-block {
		margin-right:1em;
		margin-left:1em;
	}
	footer .dsocial-bar .dcontent-block {
		max-width:20em;
	}
	footer .dsocial-bar .dsocial-icon {
		padding:1.6em;
		border-radius:1.6em;
	}
}
/*----*/
@media only screen and (max-width:375px) {
}


/*
|
|
|
|
|
|-- end of file --*/