/*-- a_console.css --*/
/*----*/
/*-- colors --
#000
#fff
#555
#f8f4f0, (248,244,240)
#f67280, (246,114,128), (faded red)
#99b898, (153,184,152), (faded green)
#2a363b, (42,54,59), (dark blue-green)
#fbd8ca, (251,216,202), (misty rose)
#9aadbe, (154,173,190), (slate gray)
#b5adbd, (181,173,189), (faded purple)
#a395a5, (163,149,165), (slightly darker purple)
--*/
.dstory {
	min-height:calc(100vh - 400px);
}
.dstory .drow {
	align-items:flex-start;
}
.dstory .dheader .dcontent-block {
	margin:8em 1em 5em;
	max-width:calc(172px + 41em);
	width:100%;
}
.dstory .dheader .dtitle {
	color:#a395a5;
	width:300px;
}
.dstory .drow.dtop {
	background:#f8f4f0;
	padding:5em 0;
}
.dstory .dtop .dright h4 {
	color:#555;
}
.dstory .drow .dleft {
	width:172px;
	margin:0 4em 0 1em;
}
.dstory .drow .dright {
	max-width:36em;
	margin-right:1em;
}
.dstory .dtop .dleft .dlabel {
	font-weight:600;
}
.dstory .drow.dslice {
	padding:5em 0;
}
.dstory .dslice .dleft h2 {
	color:#a395a5;
}
.dstory .dslice .dright>* {
	margin-bottom:3em;
}
.dstory .dslice .dright img {
	width:100%;
}






/*
|
|
|
|
|
|-- end of file --*/