/*
.dwork-project-timeline .dproject-block .dthumbnail {width:96px; min-height:140px; position:relative; margin:0; padding:0;}
.dwork-project-timeline .dproject-block .dthumbnail .dline {border-right:1px solid rgba(13,13,13,0.2); width:47px !important; display:block; height:100%; margin-right:48px;}
.dwork-project-timeline .dproject-block .dthumbnail img {width:72px; height:72px; position:absolute; top:48px; left:10px; border:none; box-shadow:none; outline:none; font-size:13px; color:#fff; border-radius:50%;background: #f0f0f0 none no-repeat center; padding:0;}
.dwork-project-timeline .dproject-block .dthumbnail.dmid {min-height:110px !important;}
.dwork-project-timeline .dproject-block .dthumbnail .dyear {width:96px; height:48px; background-color:#fff; position:absolute; top:44px; padding:8px 16px; box-sizing:border-box; text-align:center; font-size:18px; line-height:30px;letter-spacing:0.1em; color:rgba(13,13,13,0.5);}
------
------
------
----*/

/*-- timeline.css --*/
/*----*/
/*-- colors --
#000
#fff
#555
#f8f4f0
#f67280 (faded red)
#99b898 (faded green)
#2a363b (dark blue-green)
--*/
.dtimeline {
	min-height:calc(100vh - 400px);
}
.dtimeline .dheader .dcontent-block {
	margin:8em auto 5em;
}
.dtimeline .dprojects .dcontent-block {
	max-width:44em;
	width:100%;
}
.dtimeline .dprojects .dp-block {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:flex-start;
}
.dtimeline .dprojects .dp-block .dthumbnail {
	flex-basis:5em;
}
.dtimeline .dprojects .dp-block .ddesc {
}
.dtimeline .dprojects .dp-block .ddesc>* {
	display:block;
}
.dtimeline .dprojects .dp-block .dbrief {
	padding-top:4px;
}
.dtimeline .dprojects .ddesc .dcat {
	text-transform:uppercase;
	padding-top:4px;
	line-height:1.8em;
}



/*----*/
/*
|
|
|
|
|
*/
/*-- end of file --*/